{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "globals": {
    "ga": true,
    "chrome": true
  },
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"]
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
